body {
  font-family: 'Lato', sans-serif;
  font-size: 9pt;
}

.container-fluid {
  padding: 60px 50px;
}

.container-fluid.top {
  padding: 50px 50px 0px 50px;
}

.bg-cream {
  background-color: #F2E9E4;
}

.headline {
  padding: 40% 0 0 0;
  font-size: 11pt;
}

.bg-tan {
  background-color: #4A4E69;
  color: #F2E9E4;
}

.logo-small {
  color: #C9ADA7;
  font-size: 30px;
}

h1, h2 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

h5 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}

.headline h1 {
  color: #22223B;
}

.headline p {
  color: #4A4E69;
}

h2 {
  color: #C9ADA7;
}

.navbar {
    margin-bottom: 0;
    background-color: #9A8C98;
    z-index: 9999;
    border: 0;

    font-weight: bold;
    line-height: 1.42857143 !important;
    letter-spacing: 2px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: #F2E9E4 !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #9A8C98 !important;
    background-color: #F2E9E4 !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #F2E9E4 !important;
}
