body {
  height: 100vh;
  /*background-image: url("/static/tree_bark.png");*/
  background-color: #F2E9E4;
  font-family: 'Lato', sans-serif;
  color: #22223B;
  font-size: 9pt;
}

h2 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

.main-header {
  text-align: right;
}

h4 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

.home {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box {
  height: 300px;
  padding: 10px;
  margin-left: 0px;
  margin-right: 0px;
  background-color: #C9ADA7;
  /*background-image: url("/static/wood_1.png");*/
  opacity: 0.85;
  border: 0px solid black;
}

.list {
  height: 85%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #F2E9E4;
}

table.table-bordered {
  border: 0px solid black;
}

.main {
  width: 100%;
  padding: 10px;
  margin-left: 0px;
  margin-right: 0px;
  background-color: #9A8C98;
  border: 0px solid red;
}

/*td {
  vertical-align: center;
}*/

.hello {
  height: 100vh;
  background-color: #4A4E69;

}

ul {
    list-style: none; /* Remove HTML bullets */
    padding: 0;
    margin: 0;
}

li.content { 
    padding-left: 10px; 
    padding-top: 6px;
}

li.content:before {
    content: "•"; /* Insert content that looks like bullets */
    padding-right: 8px;
    color: red; /* Or a color you prefer */
}

.alert {
    width: 100%;

}