{% extends "base.html" %}
{% block content %}

<div class="container-fluid">
  <h4>Assignments</h4>

  {% if completed %}
    <h4>Completed</h4>
    {% for assignment in completed %}
      {{ assignment.name }}<br/>
    {% endfor %}
  {% endif %}

  {% if ip %}
    <h4>In Progress</h4>
    {% for assignment in ip %}
      {{ assignment.name }}<br/>
    {% endfor %}
  {% endif %}

  {% if tbd %}
    <h4>To Be Done</h4>
    {% for assignment in tbd %}
      {{ assignment.name }}<br/>
    {% endfor %}
  {% endif %}

</div>

{% endblock %}