<!DOCTYPE HTML>
<html>
  <head>
    <title>Task Tracker</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/tasktracker.css">

  </head>
  <body>

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span> 
          </button>
          <a class="navbar-brand" href="#">Task Tracker</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Page 1</a></li>
            <li><a href="#">Page 2</a></li> 
            <li><a href="#">Page 3</a></li> 

          </ul>
        
          <ul class="nav navbar-nav navbar-right">
            {% if session.get("user_name") %}
              <li><a href="#">Welcome {{ session["user_name"] }}!</a></li>
            {% else %}
              <li><a href="#" data-toggle="modal" data-target="#registerForm">Register</a></li>
            {% endif %}

            {% if session.get("user_id") %}
              <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> LOGOUT</a></li>
            {% else %}
              <li><a href="#" data-toggle="modal" data-target="#loginForm">Login</a></li>
            {% endif %}
          
          </ul>
        </div>
      </div>
    </nav>


  {% if session.get("user_id") %}
    <div class="sidebar">
      <h4 class="header"><span class="glyphicon glyphicon-calendar"></span> TASKS
        <a href class="badge pull-right" data-toggle="modal" data-target="#addTask">+</a>
      </h4>
      <hr>

      hello
      hello

    </div>



  {% endif %}

  <div id="addTask" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add Task</h4>
          </div>
          <div class="modal-body">
            <form action="/add-event" method="POST">
              Contact: <select name="contact_id">

              </select><br/>
              Event Name: <input type="text" name="ename"><br/>
              Date: <input type="date" name="date"><br/>
              <input type="submit" value="Add">
            </form>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}

        <div class="alert alert-{{ category }}">
          <strong>{{ category|capitalize }}!</strong> {{ message }}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}



  {% block content %}
    put your content here
  {% endblock %}


  </body>
</html>