<!DOCTYPE HTML>
<html>
  <head>
    <title>Task Tracker</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/tasktracker.css">

    <link href="https://fonts.googleapis.com/css?family=Lato|Oswald:600" rel="stylesheet">

  </head>
  <body>

    {% if session.get("user_id") %}

    <div class="container-fluid">
        <div class="row">
  
          <div class="col-sm-8">
            <h2>Welcome, {{ g.current_user.fname}}!</h2>

            <div class="row">
              <div class="col-sm-6">
                <div class="box">
                  <h4 class="header"><span class="glyphicon glyphicon-list-alt"></span> Assignments
                    <a href="/show-assign-form" class="badge pull-right">Add</a>
                  </h4>
                  
                  <div class="list">

                    {% if g.completed %}
                      <h4>&nbsp;&nbsp;<span class="label label-danger">Completed</span></h4>
                      <ul>
                        {% for assignment in g.completed %}
                          <li class="content"><a href="/assign/{{ assignment.assignment_id}}">{{ assignment.name }}</a></li>
                        {% endfor %}
                      </ul>
                    {% endif %}

                    {% if g.ip %}
                      <h4>&nbsp;&nbsp;<span class="label label-danger">In Progress</span></h4>
                      <ul>
                        {% for assignment in g.ip %}
                          <li class="content"><a href="/assign/{{ assignment.assignment_id}}">{{ assignment.name }}</a></li>
                        {% endfor %}
                      </ul>
                    {% endif %}

                    {% if g.tbd %}
                      <h4>&nbsp;&nbsp;<span class="label label-danger">To Be Done</span></h4>
                      <ul>
                        {% for assignment in g.tbd %}
                          <li class="content"><a href="/assign/{{ assignment.assignment_id}}">{{ assignment.name }}</a></li>
                        {% endfor %}
                      </ul>
                    {% endif %}


                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="box">
                  <h4><span class="glyphicon glyphicon-stats"></span> Assignments Data</h4>
                  <br/>
                  <div class="assign-stat-info">
                    <canvas id="assignStatInfo"></canvas>
                    <div id="donutLegend" class="chart-legend"></div>
                  </div>

                  <script>

                  Chart.defaults.global.defaultFontFamily = "Lato";
                  var options = { responsive: true,
                                  legend: { position: 'bottom',
                                            labels: { fontColor:'#22223B'
                                                    }
                                           } 
                                };
                  var ctx= $("#assignStatInfo").get(0).getContext("2d");
                  $.get("/assign-data.json", function (data) {
                      var myBarChart = new Chart(ctx, {
                        type: 'doughnut',
                        data: data,
                        options: options
                      });

                      $("#donutLegend").html(myDonutChart.generateLegend());
                  });

                  </script>
                </div>
              </div>
              
            </div>

            <br/>


      <div class="row">
        <div class="col-sm-4">
          <div class="box">
            <h4 class="header"><span class="glyphicon glyphicon-tasks"></span> Tasks
              <a href="/show-task-form" class="badge pull-right">Add</a>
            </h4>
            
            <div class="list">
              <ul>
                {% for task in g.current_user.tasks %}
                  <li class="content">{{ task.name }} </li>
                {% endfor%}
              </ul>
            </div>

          </div>
        </div>
        <div class="col-sm-4">
          <div class="box">
            <h4 class="header"><span class="glyphicon glyphicon-pawn"></span> Technicians
              <a href="/show-tech-form" class="badge pull-right">Add</a>
            </h4>
            
            <div class="list">
              <ul>
                {% for tech in g.current_user.technicians %}
                  <li class="content">{{ tech.name }}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="box">
            <h4 class="header"><span class="glyphicon glyphicon-wrench"></span> Equipment
              <a href="/show-equip-form" class="badge pull-right">Add</a>
            </h4>
            
            <div class="list">
              <ul>
                {% for equip in g.current_user.equipments %}
                  <li class="content">{{ equip.name }}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>




      <div class="col-sm-4 hello">
        <h2 class="main-header"><a href="/">Tech Assign</a></h2>

        <div class="main">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}

                <div class="alert alert-{{ category }}">
                  <strong>{{ category|capitalize }}!</strong> {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}

          {% block content %}
            put your content here
          {% endblock %}
        </div>
      </div>


  </div>


</div>

    {% endif %}



  </body>
</html>